<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <div class="sidebar">

            <div class="Child" (click)="this.serviceexpense.ComponentName='show-expense-monthwise'">
                <div class="rowitem">
                    <button type="button" class="Item" Id="Add-Event"
                        (click)="this.serviceexpense.ComponentName='show-expense-monthwise'">
                        <fa-icon class="iconclass" (click)="this.serviceexpense.ComponentName='show-expense-monthwise'"
                            [icon]="Icon"></fa-icon>&nbsp; <b>monthwise</b></button>
                </div>
            </div>
            <div class="Child" (click)="this.serviceexpense.ComponentName='add-expense'">
                <div class="rowitem">

                    <button type="button" class="Item" Id="Add-Activity"
                        (click)="this.serviceexpense.ComponentName='add-expense'"> <fa-icon class="iconclass"
                            (click)="this.serviceexpense.ComponentName='add-expense'" [icon]="Icon"></fa-icon>&nbsp;
                        <b>Add expense</b></button>
                </div>
            </div>

            <div class="Child" (click)="this.serviceexpense.ComponentName='ShowAllExpense'">
                <div class="rowitem">

                    <button type="button" class="Item" Id="Add-Price"
                        (click)="this.serviceexpense.ComponentName='ShowAllExpense'">
                        <fa-icon class="iconclass" (click)="this.serviceexpense.ComponentName='ShowAllExpense'"
                            [icon]="Icon"></fa-icon>&nbsp;
                        <b>
                            ShowAllExpense
                        </b>
                    </button>
                </div>
            </div>

            <div class="Child" (click)="this.serviceexpense.ComponentName='Date-wise'">

                <button type="button" class="Item" Id="Publish"
                    (click)="this.serviceexpense.ComponentName='Date-wise'">&nbsp;
                    &nbsp; <fa-icon class="iconclass" (click)="this.serviceexpense.ComponentName='Date-wise'"
                        [icon]="uploadIcon">
                    </fa-icon>&nbsp;
                    <b>Date-wise</b>
                </button>
            </div>








        </div>

        <div class="Componentdata">

            <app-add-expense class="component"
                *ngIf="this.serviceexpense.ComponentName =='add-expense'"></app-add-expense>
            <app-show-all-expense class="component"
                *ngIf="this.serviceexpense.ComponentName == 'ShowAllExpense'"></app-show-all-expense>
            <app-show-expense-monthwise class="component"
                *ngIf="this.serviceexpense.ComponentName == 'show-expense-monthwise'"></app-show-expense-monthwise>
            <app-datewise class="component" *ngIf="this.serviceexpense.ComponentName == 'Date-wise'"></app-datewise>



        </div>

    </div>

</body>

</html>