<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div>

        <h5> Enjoy ExpenseManager Services</h5>
        <hr>
        <div id="box">
                                                                        
            <div class="Links">

            </div>
            <div class="Links">
                <!-- <button type="button" class="btn btn-success" routerLink = "Monthwise">Monthwise</button> -->
                <!-- <a routerLink = "Monthwise/:{{Id}}" >Monthwise</a> -->
                <button class="btn btn-outline-success my-2 my-sm-0 btn" type="button"
                    routerLink="Monthwise">Monthwise</button>

            </div>
            <br>
            <div class="Links">
                <!-- <button type="button" class="btn btn-success" routerLink = "AddExpense">AddExpense</button> -->
                <!-- <a routerLink = "AddExpense/:{{Id}}">AddExpense</a> -->
                <button class="btn btn-outline-success my-2 my-sm-0 btn" type="button"
                    routerLink="AddExpense">AddExpense</button>

            </div>
            <br>
            <div class="Links">
                <!-- <button type="button" class="btn btn-success" routerLink = "ShowAllExpense">ShowAllExpense</button> -->
                <!-- <a routerLink = "ShowAllExpense/:{{Id}}">ShowAllExpense</a> -->
                <button class="btn btn-outline-success my-2 my-sm-0 btn" type="button" routerLink="ShowAllExpense">Show
                    All Expense</button>

            </div>

            <br>
            <div class="Links">
                <!-- <button type="button" class="btn btn-success" routerLink = "ShowAllExpense">ShowAllExpense</button> -->
                <!-- <a routerLink = "ShowAllExpense/:{{Id}}">ShowAllExpense</a> -->
                <button class="btn btn-outline-success my-2 my-sm-0 btn" type="button"
                    routerLink="Datewise">ByDate</button>

            </div>



        </div>




    </div>



</body>

</html>

<router-outlet></router-outlet>