<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>


  <br>
  <h2 style="text-align: center;margin-bottom: 21px;margin-top: 21px;">Montly Expense Report</h2> 
    <div *ngIf="MontlyData && showDataflag"  class="table-class">
 
        <table class="table table-bordered tb-custom">
            <thead>
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Month</th>
                <th scope="col">Credit</th>
                <th scope="col">Debit</th>
                <th scope="col">Total</th>
                <th scope="col">Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of MontlyData;let i = index">
                <td>{{i+1}}</td>
                <td>{{MonthName[obj.Month-1]}}</td>
                <td>{{obj.CreditAmount}}</td>
                <td>{{obj.DebitAmount}}</td>
                <td>{{obj.Total}}</td>
                <td>{{obj.Balance}}</td>
              </tr>
    
            </tbody>
          </table>

    </div>
   

      <div *ngIf="Message" class="Message mt-3" style="color: red;"><b> {{Message}}</b>
      </div>
</body>
</html>