<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>




    <div  *ngIf="ExpenseData && allDataFlag" >
      <h2 style="    text-align: center;margin-bottom: 21px;margin-top: 21px;">All Expenses Report</h2>
        <table class="table table-bordered tb-custom">
            <thead>
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Comment</th>
                <th scope="col">CreditOrDebit</th>
                <th scope="col">Amount</th>
                <th scope="col">ExpenseTime</th>
                <th scope="col">balance</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of ExpenseData;let i = index">
                <td>{{i+1}}</td>
                <td>{{obj.Comment}}</td>
                <td>{{obj.CreditOrDebit}}</td>
                <td>{{obj.Amount | currency:"INR"}}</td>
                <td>{{obj.ExpenseTime.slice(0,11)  }} </td>
                <td>{{obj.balance}}</td>
              </tr>
    
            </tbody>
          </table>

    </div>
   

      <!-- <div *ngIf="Message" class="Message mt-3" style="color: red;"><b> {{Message}}</b>
      </div> -->

    





</body>
</html>