.Links{
  margin:10px;
  border-radius: 5px; 
 }  

 .btn{
  margin: 10px;
} 

.bg-custome{
background-color: aliceblue;
}  
.mynav{
border-bottom: 1px solid rgb(104 131 110);
}
/* .custom-color{
color: black;
}  */

img{
border-radius: 5px ;
}